@page
@model Lunas_mini_aussies_.PagesPuppies.AddClientModel

@{
    ViewData["Title"] = "Become a Puppy Owner";
}
<h1>Create</h1>

<h4>Owner Information</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method ="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.CName" class="control-label"></label>
                <input asp-for="Client.CName" class="form-control" />
                <span asp-validation-for="Client.CName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.LName" class="control-label"></label>
                <input asp-for="Client.LName" class="form-control" />
                <span asp-validation-for="Client.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.email" class="control-label"></label>
                <input asp-for="Client.email" class="form-control" />
                <span asp-validation-for="Client.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.phone" class="control-label"></label>
                <input asp-for="Client.phone" class="form-control" />
                <span asp-validation-for="Client.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}